*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

header{
    background-image: url("../imgs/bg-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.color-nav{
    background-color: #373A3C;
}
.carousel-indicators{
    top: 90%;
    /* width: 5rem;
    height: 5rem; */
}

.carousel-indicators button{
    width: 0.8rem !important;
    height: 0.8rem !important;
    border-radius: 50%;
}

.carousel-inner{
    width: 80%;
    height: 11rem;
}
.carousel-item img{
    height: 9rem !important;
}

.card-img-top{
    height: 13rem;
}